    <ion-content id="homebackground" scroll="true">
        <div class="row" style="margin-top: -10px;">
          <div class="col col-80 col-offset-10">
            <div class="card top-banner">
              <img src="img/bannerclear.png" style="max-height:none; width:auto; height:auto; max-width:75%; display:block; margin: 0 auto;">
              <p>To see how we make our 360 videos and how to use this app, check out our "Behind the Scenes & Demo" video</p>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col col-50 col-offset-25">
              <div class="card">
                  <a class="" ng-href="#/video2"><img src="img/thumbnaildemo.png"></a>
                  <p>Behind the Scenes & Demo (non-VR)</p>
              </div>
          </div>
            <div class="col col-50">
              <section id="section05" class="demo">
                <a><span></span></a>
                </section>

            </div>

        </div>
        <!-- <div class="row">
            <div class="col col-50">
                <div class="card">
                    <a class="" ng-href="#/video3"><img src="img/thumbnailpoolnoplay.png"></a>
                    <p>Pool Game</p>
                </div>
            </div>

            <div class="col col-50">
                <div class="card">
                    <a class="" ng-href="#/video4"><img src="img/thumbnailcardmonroenoplay.png"></a>
                    <p>Card Monroe 360</p>
                </div>
            </div>
        </div> -->
        <div >
          <div class="row" style="flex-wrap: wrap">
            <div ng-repeat="video in videos" class="col col-50">
                <div  class="card" >
                    <a ng-click="openVideo(video.source);">
                      <img ng-src="{{video.thumbnail}}">
                      <p>{{video.label}}</p>
                    </a>
                </div>
          </div>
        </div>
        <!-- <div class="row"> -->
            <!-- <div class="col-50" style="margin: 0 auto;">
                <div class="card">
                    <a class="" ng-href="#/video5"><img src="img/thumbnail4.png"></a>
                    <p>Card Monroe 360 Compressed</p>
                </div>
            </div> -->
            <!-- <div class="col-50"> -->
                <!-- <div class="card">
                    <a class="" ng-href="#/video4"><img src="img/thumbnail4.png"></a>
                    <p>Card Monroe 360</p>
                </div> -->
            <!-- </div> -->
        <!-- </div> -->

    </ion-content>
