<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="description" content="360 Video — A-Frame">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/lib/aframe.min.js"></script>
    <!-- your app's js -->

    <!-- <script src="js/lib/three.min.js"></script> -->
    <!-- <script src="js/lib/StereoEffect.js"></script>
    <script src="js/lib/DeviceOrientationControls.js"></script>
    <script src="js/lib/OrbitControls.js"></script>
    <script src="js/lib/helvetiker_regular.typeface.js"></script> -->
    <!-- <script src="http://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script> -->

    <script src="js/app.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body ng-app="starter" ng-controller="AppCtrl as app">
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Cardboard</h1>
        <div class="buttons">
          <button class="button button-clear" ng-click="openSettings()"><i class="icon ion-gear-a"></i></button>
        </div>
      </ion-header-bar>
      <ion-content scroll="false" padding="false">
        <!-- <cardboard-gl></cardboard-gl> -->
        <!-- <div id="vrview" webkit-playsinline></div> -->

        <!-- <iframe webkit-playsinline allowfullscreen="true" scrolling="no" width="100%" height="400px" src="http://storage.googleapis.com/vrview/2.0/index.html?video=https://pointsmap.com/video.mp4&amp;is_stereo=true&amp;" style="border: 0px;">

        </iframe> -->

    <a-scene>
      <a-assets>
        <video id="video" src="https://www.pointsmap.com/video.mp4"
                loop crossorigin webkit-playsinline></video>
      </a-assets>

      <a-videosphere src="#video" rotation="0 180 0"></a-videosphere>
    </a-scene>
    <!-- <button id="play-button">Play</button> -->
<!--
<a-scene id="vr-scene">
  <a-camera
    id="camera"
    position="0 1.8 4"
    cursor-visible="true"
    cursor-scale="2"
    cursor-color="#000000"
    cursor-offset="2"
    cursor-maxdistance="100"
    cursor-opacity="0.7"></a-camera>

  <a-assets>
    <video id="vid" src="https://www.pointsmap.com/video.mp4"
    crossOrigin="anonymous"
    autoplay="false"
    loop="true"
    webkit-playsinline>

    </video>
  </a-assets>

  <a-entity geometry="primitive: sphere;
                      radius: 5000;
                      segmentsWidth: 64;
                      segmentsHeight: 64;"
            material="shader: flat; src: #vid;"
            scale="-1 1 1">
  </a-entity>

</a-scene> -->

      </ion-content>
    </ion-pane>


    <script id="settings.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Settings</h1>
          <div class="buttons">
            <button class="button button-clear" ng-click="closeSettings()">Done</button>
          </div>
        </ion-header-bar>
        <ion-content>
          <form>
            <ion-toggle ng-model="data.enableAwesome" toggle-class="toggle-assertive">Enable Awesome?</ion-toggle>
          </form>
        </ion-content>
      </ion-modal-view>
    </script>

  </body>
</html>
