<ion-view>
  <ion-content id="homebackground" scroll="true">
    <div class="row" style="margin-top: -10px;">
      <div class="col col-80 col-offset-10">
        <div class="card top-banner">
          <img src="img/bannerclear.png" style="max-height:none; width:auto; height:auto; max-width:75%; display:block; margin: 0 auto;">
          <p>To see how we make our 360 videos and how to use this app, check out our "Behind the Scenes & Demo" video</p>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="card" id="demo-tile">
          <a class="" ng-href="#/video2"><img src="img/thumbnaildemo.png"></a>
          <p>Behind the Scenes & Demo (non-VR)</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<ion-tabs class="tabs tabs-striped tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="/">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Streaming Videos" icon-on="ion-ios-cloud" icon-off="ion-ios-cloud-outline" href="/streaming">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Demo" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="/demo">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="/contact">
    <!-- Tab 2 content -->
  </ion-tab>

</ion-tabs>