<ion-view>
  <ion-content id="homebackground" scroll="true">
    <div class="row" style="margin-top: -10px;">
      <div class="col col-80 col-offset-10">
        <div class="card top-banner">
          <img src="img/bannerclear.png" style="max-height:none; width:auto; height:auto; max-width:75%; display:block; margin: 0 auto;">
        </div>
      </div>
    </div>
    <div class="row" style="flex-wrap: wrap; margin-top:10px;">
      <div ng-repeat="video in videos" class="col col-90">
        <div class="card">
          <a ng-click="openVideo(video.source);">
            <span class="icon ion-play"></span>
                        <img ng-src="{{video.thumbnail}}">
                        <p>{{video.label}}</p>
                    </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<ion-tabs class="tabs tabs-striped tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="/">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Streaming Videos" icon-on="ion-ios-cloud" icon-off="ion-ios-cloud-outline" href="/streaming">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Demo" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="/demo">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="/contact">
    <!-- Tab 2 content -->
  </ion-tab>

</ion-tabs>