<ion-view>
  <ion-content id="homebackground" scroll="true">
    <div class="row">
      <div class="col">
        <h1 style="color:white;text-align:center;margin-top:10px;margin-bottom:0;">Streaming Videos</h1>
      </div>
    </div>
    <div class="row" style="flex-wrap: wrap; margin-top:10px;">
      <div ng-repeat="video in videos" class="col col-50">
        <div class="card">
          <a ng-click="openVideo(video.source);">
                        <img ng-src="{{video.thumbnail}}">
                        <p>{{video.label}}</p>
                    </a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>

<ion-tabs class="tabs tabs-striped tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="/">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Streaming Videos" icon-on="ion-ios-cloud" icon-off="ion-ios-cloud-outline" href="/streaming">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Demo" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="/demo">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="/contact">
    <!-- Tab 2 content -->
  </ion-tab>

</ion-tabs>