body {
    margin: 0;
}

body.vjs-full-window .player_wrapper {
    position: static;
}

.player_wrapper {
    position: relative;
    max-width: 960px;
    width: 100%;
}

.player_container {
    padding-top: 56.25%;
}

#videojs-panorama-player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
