html {
  touch-action: manipulation;
}

body {
    margin: 0;
    height: 100%;
}

#homebackground {
    /*background-image: url('../img/home-banner.jpg');*/
    /*background-size: cover;*/
    background-color: #000;
}

body.vjs-full-window .player_wrapper {
    position: static;
}

.player_wrapper {
    position: relative;
    max-width: 960px;
    width: 100%;
}

.player_container {
    padding-top: 56.25%;
}

#videojs-panorama-player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.icon .ion-navicon::before {
    font-size: 15px;
}

.card img {
    width: 95% !important;
    margin-left: 2.5%;
    margin-top: 5px;
    border-radius: 4px;
}

.card p {
    text-align: center;
    margin-bottom: 1px;
}

.row+.row {
    margin-top: -35px;
    padding-top: 0;
}

.row {
    margin-top: 0px;
}

.bar-header {
    height: 35px;
}

/*To vertically align the title of your page also add this:*/

.bar-header .title {
    line-height: 35px;
}

.bar-header .button-clear {
    line-height: 25px;
    min-height: 25px;
}

/*And finally to adjust the content of the page:*/

.has-header {
    top: 35px;
}

.video-js .vjs-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height: 1.5em;
    width: 2.55em;
    display: block;
    position: absolute;
    top: 42%;
    left: 44%;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: none;
    background-color: #2B333F;
    /* background-color: rgba(43, 51, 63, 0.7); */
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#helpbutton {
  position: absolute; bottom: -7px; left: 5px; color: black; font-size: 30px;
  display: none;
}

@media only screen and (max-device-width: 568px) {
  #helpbutton {
    font-size: 20px;
    bottom: -11px;
  }


}
